.vscode
*__pycache__
.gitkeep
*.bd
*__pycache__/
routers/__pycache__/__init__.cpython-310.pyc
db/__pycache__/database.cpython-310.pyc
db/__pycache__/__init__.cpython-310.pyc
crud/__pycache__/__init__.cpython-310.pyc
crud/__pycache__/__init__.cpython-310.pyc
db/__pycache__/__init__.cpython-310.pyc
db/__pycache__/database.cpython-310.pyc
routers/__pycache__/__init__.cpython-310.pyc
schemas/__pycache__/__init__.cpython-310.pyc
crud/__pycache__/__init__.cpython-310.pyc
db/__pycache__/__init__.cpython-310.pyc
db/__pycache__/database.cpython-310.pyc
routers/__pycache__/__init__.cpython-310.pyc
schemas/__pycache__/__init__.cpython-310.pyc