body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1a1a2e; /* Apply dark background globally */
  color: #e0e0e0; /* Set default text color for better contrast */
  font-family: sans-serif; /* Optional: Set a default font */
}

#root {
  height: 100%; /* Ensure the root element also takes full height */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
